:root {
    --bg: linear-gradient(#37E0E0, #40FF53);
}

/*FONTS*/
@font-face {
    font-family: Mario;
    src: url('../font/SuperMario256.ttf');
}

html {
    background: var(--bg) no-repeat;
    font-family: Mario;
    height: 100%;
}

p {
    font-size: 2rem;
    font-family: 'Mario';
    -webkit-text-stroke: 1.5px black;
    padding: 0;
    margin: 0;
}

button {
    text-decoration: none;
    border: none;
    padding: .5rem 1.5rem;
}

button:hover {
    cursor: pointer;
}