:root {
    --bg: linear-gradient(#37E0E0, #40FF53);
}

/*FONTS*/
@font-face {
    font-family: Mario;
    src: url('../font/SuperMario256.ttf');
}

html {
    height: 100vh;
    background: var(--bg);
    font-family: Mario;
}
p {
    font-size: 2rem;
    -webkit-text-stroke: 1.5px black;
    padding: 0;
    margin: 0;
}