.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}
.icons {
    width: 5em;
}
h1 {
    text-align: center;
}
img {
    margin: auto;
}
#score {
    background: rgba(255,255,255,0.6);
    border-radius: 20px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    
}
#score > p {
    margin: .5rem .5rem;
}

#scoreBowser {
    color: blue;
}
#scoreMario {
    color: yellow;
}
#buttons {
    text-align: center;
}
/*
#resetButton {
    
    background: url('../svg/Reset.svg') no-repeat;
    background-size: cover;
}
#menuButton {

}
*/