html {
    font-size: 62.5%;
    background-color: #40FF53;
    overflow-y: hidden;
}

img{
    display: block;
    width: 20rem;
}

img:nth-child(2){
    display: none;
}

main{
    margin-top: 2rem;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    margin-top: 2rem;
}

.titel{
    background: url("../svg/titelMobileThin.svg") no-repeat center;
    text-indent: -9999px;
    height: 8rem;
}

.icons {
    width: 5em;
}

img {
    margin: auto;
}
#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90vw;
    height: 100%;
    margin: 2rem auto;
    gap: 2rem;
    padding-bottom: 6rem;
    overflow: auto;
}

.games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    margin: auto;
}

.tile {
    width: 100%;
    height: 100%;
    min-height: 5rem;

    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tileAnimation{
    transition: 750ms cubic-bezier(0,.87,.63,2);
    font-size: 3rem;
}

.xWint{
    background-color: #fe1028;
    border-radius: 3rem;

    transition: 1s;
}

.oWint{
    background-color: #FFBA28;
    border-radius: 3rem;

    transition: 1s;
}

.horizontal-line {
    border-bottom: 0.3rem solid black;
}
.vertical-line {
    border-right: 0.3rem solid black;
}

#score {
    background: rgba(255,255,255,0.6);
    border-radius: 20px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#score > p {
    margin: .5rem .5rem;
}

#scoreBowser {
    color: blue;
}
#scoreMario {
    color: yellow;
}
#buttons {
    text-align: center;
    width: fit-content;
    display: flex;
    gap: 2rem;

    margin: -3rem auto 0 auto;
}
#buttons div {
    background-color:  rgba(255,255,255,0.6);
    padding: 1.2rem;
    border-radius: 8px;
}
#buttons button {
    width: 8rem;
    height: auto;
}
#resetButton {
    background: url('../svg/Reset.svg') no-repeat center;
    background-size: 100%;
    text-indent: -9999px;
}
#menuButton {
    background: url('../svg/Menu.svg') no-repeat center;
    background-size: 100%;
    text-indent: -9999px;
}

::-webkit-scrollbar {
       width: 6px;
       height: 6px;
}
::-webkit-scrollbar-track {
     border-radius: 10px;
     background: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb{
     border-radius: 10px;
     background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover{
     background: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:active{
     background: rgba(0,0,0,.9);
}

#marioWins {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#bowserWins{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: chartreuse;
    margin: auto;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
    width: 80%;
}
.modal-content p {
    font-size: 2rem;
    padding-top: 5rem;
}
.modal-content img{
    display: unset;
    width: 30%;
    padding-top: 1.5rem;
}
.modal-content p::after {
    content: '🏆';
}
.bounce-in-right {
    animation: bounce-in-right 2s ease;
}
@keyframes bounce-in-right {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}
/* The Close Button */
.close1, .close2{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus, .close2:hover, .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@media (min-width: 46.875em) {
    #board {
        width: 75vh;
        height: 75vh;
    }

    #score {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 90em){
    h1{
        margin-top: -1rem;
    }

    .header{
        margin-top: -3rem;
    }

    .titel{
        background: url("../svg/titelDesktopThin.svg") no-repeat center;
        text-indent: -9999px;
        height: 8rem;
    }

    #buttons{
        display: block;
        margin-top: -53em;
        margin-left: 13em;
    }

    #buttons div{
        display: flex;
        flex-direction: column;
        margin: 3em;
    }
}