html{
    background-color: #40FF53;
}

figure img:nth-child(1){
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    max-width: 70%;
}

figure img:nth-child(2){
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    z-index: -1;
}

figure img:nth-child(3){
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    margin-top: -19em;
}

a img{
    background: rgba(255, 255, 255, 0.72);
    background-blend-mode: lighten;
    border-radius: 10px;
    padding: 1em;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 50%;
}
#buttons {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}
#buttons div {
    background-color:  rgba(255,255,255,0.6);
    padding: .5rem 2rem;
    border-radius: 8px;
    margin: 1.2rem 0;
}
#buttons button {
    width: 8rem;
    height: auto;
}
#singleplayer {
    background: url('../svg/Singleplayer.svg') no-repeat center;
    background-size: 100%;
    text-indent: -9999px;
}
#multiplayer {
    background: url('../svg/Multiplayer.svg') no-repeat center;
    background-size: 100%;
    text-indent: -9999px;
}
#spelregels{
    background: url('../svg/Spelregels.svg') no-repeat center;
    background-size: 100%;
    text-indent: -9999px;
}

.buizen img{
    margin-top: -3em;
}









