:root {
    --bg: linear-gradient(#37E0E0, #40FF53);
}
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.main{
    background-color: var(--bg);
    height: 100vh;
    padding-top: 1px;
}
.title{
    color: red;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}
.display{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.hide{
    display: none;
}
.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}
.tileBig{
    border: 1px solid black;
    min-width: 100px;
    min-height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
.small{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 150px;
}
.tile{
    border: 0.5px solid grey;
    min-width: 25px;
    min-height: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}
.playerX{
    color: #40FF53;
}
.playerO{
    color: #37E0E0;
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
#reset{
    background-color: chocolate;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}